{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_comment/comment_list_item

    Displays the html for a single comment in the comments widget.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "widgetid": 5894097884e37,
        "id": 10,
        "content": "<div class=\"no-overflow\"><div class=\"text_to_html\">Test comment<\/div><\/div>",
        "format": 1,
        "timecreated": 1486258208,
        "strftimeformat": "%a, %d %b %Y, %I:%M %p",
        "profileurl": "http://localhost/master/user/view.php?id=2&course=1",
        "fullname": "Admin User",
        "time": "Sun, 5 Feb 2017, 9:30 AM",
        "profileimageurl": "http://localhost/master/theme/image.php/boost/core/1486161611/u/f1",
        "userid": 2,
        "delete": true
    }

}}

{{!
Note: Because we need to support BS2 and can't rely on the nice nesting features (auto padding-handling) of BS4,
we'll manage our column paddings manually. Otherwise, we could just use row and col classes with BS4.
}}
<li id="comment-{{id}}-{{widgetid}}">
    <div class="comment-container container-fluid m-b-1 p-l-0 p-r-0">
        <div class="row-fluid">
            <div class="col-xs-12 span12 p-l-0 p-r-0" style="position:relative;">
                <div class="comment-userpicture">
                    <a href="{{profileurl}}">
                        <img src="{{profileimageurl}}" alt="" title="" class="userpicture defaultuserpic">
                    </a>
                </div>
                <div class="row-fluid">
                    <div class="col-xs-12 span12 m-b-1 p-l-3 p-r-2">
                        <div class="comment-header text-left">
                            <span class="d-inline-block align-middle"><a href="{{profileurl}}">{{fullname}}</a></span>
                            <span class="comment-time d-inline-block align-middle">{{time}}</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-xs-12 span12 m-b-0 p-l-3 p-r-1">
                        <div class="comment-text">
                            {{{content}}}
                        </div>
                    </div>
                </div>
                <!--div class="row-fluid">
                    <div class="col-xs-12 span12 p-l-3 p-r-1">
                        <div class="comment-footer pull-right">
                            <!--Edit | Reply | Other>
                        </div>
                    </div>
                </div-->
                {{#delete}}
                <div class="comment-options">
                    <!--div class="comment-delete"-->
                        <a href="#" class="comment-delete" id="comment-delete-{{widgetid}}-{{id}}" title="{{#str}}deletecommentbyon, moodle, { "user": "{{fullname}}", "time": "{{time}}" }{{/str}}">
                            {{#pix}} t/delete, core, {{#str}}deletecommentbyon, moodle, {"user": "{{fullname}}", "time": "{{time}}" }{{/str}} {{/pix}}
                        </a>
                    <!--/div-->
                </div>
                {{/delete}}
            </div>
        </div>
    </div>
</li>
