.path-mod-lti .ltiframe {
    position: relative;
    width: 100%;
    height: 100%;
}

/** General Styles **/
.path-mod-lti .userpicture,
.path-mod-lti .picture.user,
.path-mod-lti .picture.teacher {
    width: 35px;
    height: 35px;
    vertical-align: top;
}

.path-mod-lti .feedback .files,
.path-mod-lti .feedback .grade,
.path-mod-lti .feedback .outcome,
.path-mod-lti .feedback .finalgrade {
    float: right;
}

.path-mod-lti .feedback .disabledfeedback {
    width: 500px;
    height: 250px;
}

.path-mod-lti .feedback .from {
    float: left;
}

.path-mod-lti .files img {
    margin-right: 4px;
}

.path-mod-lti .files a {
    white-space: nowrap;
}

.path-mod-lti .late {
    color: red;
}

/* Styles for admin */
.path-admin-mod-lti .mform .fitem .fitemtitle {
    min-width: 18em;
    padding-right: 1em;
} /* Prevent setting titles from wrapping */

/* Styles for instructor editing an external tool */

.path-mod-lti .mform .fitem .fitemtitle {
    min-width: 14em;
    padding-right: 1em;
} /* Prevent setting titles from wrapping */

#choice-list {
    list-style: none;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 1em;
    margin-left: 0;
}

#choice-list > li {
    display: inline-block;
}

#registration-submit {
    min-width: 140px;
}

.centered-menu {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.btn-text {
    display: block;
}

.btn-loader {
    display: none;
}

.loading .btn-text {
    display: none;
}

.loading .btn-loader {
    display: block;
}

.loading #tool-notools-text {
    display: none;
}

/* Styling for LTI view */
#contentframe {
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Strip the caret from the action menu toggle, as the ... ellipsis icon is used. */
#page-mod-lti-coursetools a.dropdown-toggle::after {
    display: none;
}

/* Icons in the 'actions' column of the course tools table need to be aligned with action menus which have a 36x36 trigger. */
#page-mod-lti-coursetools table div.tool-action-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

#page-mod-lti-coursetools table div.tool-action-icon-container i {
    margin: 0;
}

/* The following removes the striping that lives in table_sql, which we can't change from within reportbuilder */
#page-mod-lti-coursetools table.generaltable tbody tr:nth-of-type(2n+1),
#page-mod-lti-coursetools table.table-striped tbody tr:nth-of-type(2n+1) {
    background: inherit;
}

#page-mod-lti-coursetools table.generaltable tbody tr:hover,
#page-mod-lti-coursetools table.table-striped tbody tr:hover {
    background: #fff;
}
