/* enrol_lti styles */

#registration-tab-content .input-group-append a.btn {
    border: solid 1px #8f959e;
}
#registration-tab-content .input-group-append a.btn span.pix {
    padding-left: 0.5rem;
}
form#auto_submit {
    display: none;
}
