{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template auth_lti/account_select

    Template which displays a choice screen for instructors on first launch, allowing them to select whether to use an
    existing account in the tool, or to auto provision a new one.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * TODO

    Example context (json):
    {
        "hascontent": true,
        TODO
    }
}}
<div id="lti_adv_account_binding_options" class="p">
    <form action="{{formaction}}" method="POST">
        <input type="hidden" name="sesskey" value="{{sesskey}}">

        <!--div class="card-columns"-->
        <div class="container-fluid">
            <h2>Welcome!</h2>
            {{#info}}
                {{> core/notification}}
            {{/info}}
            <div class="row">
                <div class="col-sm-6 d-flex">
                    {{#sessioninfo}}
                        <div class="card w-100">
                            <div class="card-header">
                                I have an existing account
                            </div>
                            <!--img class="card-img-top" src="..." alt="Card image cap"-->
                            <div class="card-body text-center d-flex flex-column">
                                <i class="fa fa-user-circle-o fa-2x link"></i>
                                <h4 class="card-title">Use existing account</h4>
                                <p class="card-text mt-2">
                                    <span class="text-muted">
                                        You are currently signed in as
                                    </span><br>
                                    {{{picturehtml}}}
                                    {{firstname}} {{lastname}} ({{email}})
                                </p>
                                <span class="text-left font-weight-bold small">Email verification is required to link this account</span>

                                <input type="submit" class="btn btn-primary mt-auto" name="existing_account" value="Link this account">
                            </div>
                            <!--div class="text-muted">Doing this will blah blah blah blah blah....etc and more and more and more and more and more.</div-->
                        </div>
                    {{/sessioninfo}}
                    {{^sessioninfo}}
                        <div class="card w-100">
                            <div class="card-header">
                                I have an existing account
                            </div>
                            <!--img class="card-img-top" src="..." alt="Card image cap"-->
                            <div class="card-body text-center d-flex flex-column">
                                <i class="fa fa-user-circle-o fa-2x link"></i>
                                <h4 class="card-title">Use existing account</h4>

                                <p class="card-text text-muted mt-2">Log in to your existing account.</p>
                                <input type="submit" class="btn btn-primary mt-auto" name="existing_account" value="Log in">
                            </div>
                            <!--div class="text-muted">Doing this will blah blah blah blah blah....etc and more and more and more and more and more.</div-->
                        </div>
                    {{/sessioninfo}}
                </div>
                <div class="col-sm-6 d-flex">
                    <div class="card w-100">
                        <div class="card-header">
                            I'd like to create a new account
                        </div>
                        <!--img class="card-img-top" src="..." alt="Card image cap"-->
                        <div class="card-body text-center d-flex flex-column">
                            <i class="fa fa-user-plus fa-2x"></i>
                            <h4 class="card-title">Create account</h4>
                            <p class="card-text text-muted">Get started with a new account</p>
                            <input type="submit" class="btn btn-secondary mt-auto" name="new_account" value="Create an account for me">

                        </div>
                    </div>
                </div>
            </div>
            <!--div class="row">
                <div class="col-sm-6 p-0">
                    <span class="font-weight-bold small">This will link your existing account with the LMS</span>
                </div>
                <div class="col-sm-6 p-0">

                </div>
            </div-->
        </div>

    </form>
</div>
